!!! 5
%html(ng-app)
  %head
    %title Run a Gist!
    %script(src='http://code.angularjs.org/angular-1.0.0rc10.min.js')
  %body
    %h1 Run a Gist!
    :javascript
      function FormCtrl($scope) {
        $scope.goRun = function() {
          window.location.hostname = $scope.gist_id + "." + window.location.hostname;
        };
      };
    %form(action='' ng-controller='FormCtrl')
      %label Your GIST id here (needs at least an index.[html|haml] file)
      %input(type='text' placeholder='SHA or public ID' size=40 ng-model='gist_id')
      %button(type='submit' ng-click='goRun()') Run it!

    :javascript
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32408977-1']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
